<div class="wrapper">
    <h1 class="main-heading">All Recipes</h1>
</div>
<div id="middle">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 my-breadcrumb">
                    <div id="heading">
                        <h5>
                            <a href="#/home">Home</a>
                        </h5>
                        <span>»</span>
                        <span>All Recipes</span>
                    </div>
                </div>
            </div>
            <div class="row posts-content">
                <div class="col-md-8">
                    {{#if recipes}} {{#each recipes}}
                    <div class="row">
                        <div class="col-md-12" id="recipe">

                            <h1 id="post-title"><a href="#/recipes/{{this._key}}">{{this.title}}</a></h1>
                            <div class="posted-by">
                                <hr class="line-with-shadow" /> Posted by {{this.userEmail}} on {{this.date}} in {{this.category}} | {{this.commentsCount}}
                                Comments
                            </div>
                            <img src="{{this.image}}" alt="post img" height="220" width="220" class="pull-left img-responsive postImg img-thumbnail">
                            <article>
                                <p>
                                    {{this.text}} 
                                </p>
                            </article>
                            <div class="col-md-12">
                                <button class="btn btn-default btn-xs pull-right read-more-black"><a href="#/recipes/{{this._key}}">Read more</a></button>
                            </div>
                        </div>
                    </div>
                    {{/each}}{{/if}}
                </div>
                <div class="col-md-4  recent pull-left">
                    <div class="row">
                        <div class="container-fluid posts text-left">
                            <h4>Recent Posts</h4>
                            <div class="container-fluid color-light field">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta aliquam consequatur in, natus expedita
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta </p>   
                            </div>
                        </div>
                        <div class="container-fluid comments text-left">
                            <h4>Recent Posts</h4>
                            <div class="container-fluid color-light field">
                                <ul>
                                    {{#each limitRecipes}}
                                    <li>
                                        <a href="#/recipes/{{this._key}}">{{title}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>