<div id="middle">
    <div class="container-fluid color-mid">
    <div class="row row-fixed triggered">
        <div class="row text-left">
            <div class="trail">
                <a href="#/home">Home</a> <i class="fa fa-angle-double-right"></i>
                <a href="#/posts">Blog</a>
            </div>
            {{!-- insert trail --}}
        </div>
        {{!-- Posts --}}
        <div class="col-md-8 post">
            {{#if posts}} {{#each posts}}
            <div class="container-fluid">
                <div class="row text-left">
                    <h3 class="post-title"><a href="#/posts/{{this.id}}">{{this.title}}</a></h3>
                    <hr class="line-with-shadow"/>
                </div>
                <div class="row text-left posted-by">
                    Posted by {{this.user.username}} on {{this.dateConverted}} in {{this.category}} | {{this.commentsCount}} Comments
                </div>
                <div class="row text-left">
                    <div class="col-md-4 post-img">
                        <img src="{{this.image}}" alt="">
                    </div>
                    <div class="col-md-8 body">
                        {{this.body}}
                    </div>
                </div>
                <div class="container-fluid">
                    <button class="btn btn-default btn-xs pull-right read-more"><a href="#/posts/{{this.id}}">Read more</a></button>
                </div>
            </div>
            {{/each}} {{!-- Insert pagination --}} {{else}}
            <div class="row">
                <h3>No posts to display</h3>
            </div>
            {{/if}}
        </div>
        {{!-- Recent things --}}
        <div class="col-md-4 recent">
            <div class="container-fluid posts text-left">
                <h4 class="text-left">Recent Posts</h4>
                <div class="container-fluid color-light field">
                    <ul>
                        {{#each recentPosts}}
                        <li><a href="#/posts/{{id}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="container-fluid comments text-left">
                <h4 class="text-left">Recent Comments</h4>
                <div class="container-fluid color-light field">
                    <ul>
                        {{#each recentComments}}
                        <li><a href="#/posts/{{postId}}">{{body}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>