{{#each recipeArr}}
<div class="wrapper">
    <h1 class="main-heading">{{this.title}}</h1>
</div>

<div id="middle">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 my-breadcrumb">
                    <div id="heading">
                        <h5>
                            <a href="#/home">Home</a>
                        </h5>
                        <span>»</span>
                        <span>Recipes</span>
                        <span>»</span>
                        <span>{{this.title}}</span>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="col-md-8 recipe-single" id="recipe">
                    {{#each recipeArr}}
                    <div class="row">
                        <div class="posted-by">
                            <hr class="line-with-shadow" /> Posted by {{this.userEmail}} on {{this.date}} in {{this.category}} | {{this.commentsCount}}
                            Comments
                        </div>
                        <img src="{{this.image}}" alt="post img" height="220" width="220" class="pull-left img-responsive postImg img-thumbnail">
                        <article>
                            <p>
                                {{this.text}}
                            </p>
                        </article>
                        <div class="row">
                            <div class="col-md-12" id="comments-count">
                                <h3>User Comment Example</h3>
                                <hr class="line-with-shadow" />
                            </div>
                        </div>

                        <div class="row" id="comments-detail">
                            <div id="users-comments">
                                {{#each comments}}
                                <div class="col-sm-2">
                                    <div class="thumbnail">
                                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    </div>
                                    <div id="comment-date">{{date}}</div>
                                    <!-- /thumbnail -->
                                </div>
                                <!-- /col-sm-1 -->

                                <div class="col-sm-10">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>{{author}} says:</strong>
                                        </div>
                                        <div class="panel-body">
                                            {{text}}
                                        </div>
                                        <!-- /panel-body -->
                                    </div>
                                    <!-- /panel panel-default -->
                                </div>
                                {{/each}}
                            </div>
                            <!-- /col-sm-5 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Leave a Comment</h3>
                                    <hr class="line-with-shadow" />
                                </div>
                                <!-- /col-sm-12 -->
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="widget-area no-padding blank">
                                        <div class="status-upload">
                                            <form>
                                                <textarea id="recipe-comment" placeholder="Write your comment here"></textarea>
                                                <button type="button" id="comment-submit" class="btn btn-success green">
                                                    <i class="fa fa-share"></i> Share</button>
                                            </form>
                                        </div>
                                        <!-- Status Upload  -->
                                    </div>
                                    <!-- Widget Area -->
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="col-md-4 recent pull-left">
                    <div class="row">
                        <div class="container-fluid posts text-left">
                            <h4 class="text-left">Recent Posts</h4>
                            <div class="container-fluid color-light field">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex cumque laborum voluptates
                                    fugit nisi aut, dicta aliquam consequatur in, natus expedita Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Ipsam ex cumque laborum voluptates fugit nisi aut, dicta
                                </p>
                            </div>
                        </div>
                        <div class="container-fluid comments text-left">
                            <h4>Recent Posts</h4>
                            <div class="container-fluid color-light field">
                                <ul>
                                    {{#each limitRecipes}}
                                    <li>
                                        <a href="#/recipes/{{this._key}}">{{title}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <div class="container-fluid comments text-left">
                            <h4 class="text-left">Recent Comments</h4>
                            <div class="container-fluid color-light field">
                                <ul>
                                    {{#each lastComments}} {{#each comments}}
                                    <li>
                                        <a href="#/posts/{{postId}}">{{this.text}}</a>
                                    </li>
                                    {{/each}} {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>